/* styles.css */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-header {
    background-color: #029098;
    padding: 10px;
    border-bottom: 1px solid #05d8d8;
}

.card-content {
    padding: 20px;
}

.card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: rgb(18, 242, 250);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}